{% extends "base.html" %}
{% block title %}A.Suchodolska{% endblock %}
{% block content %}
<div class="w3-content w3-padding" style="max-width:1564px">
    <!--O mnie-->
    <div class="w3-container w3-padding-32" id="about">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">O mnie</h3>
        <p>
            <p style="text-align: justify;">Moja przygoda ze stomatologią rozpoczęła się już na studiach, gdzie należałam do wielu kół naukowych oraz brałam udział w licznych konferencjach i kursach praktycznych. Jako pasjonatka stomatologii estetycznej pomagam na co dzień swoim Pacjentom osiągnąć piękny i zdrowy uśmiech, przywiązując dużą uwagę do efektu końcowego swojej pracy i pełnej satysfakcji Pacjenta.</p>
            <p style="text-align: justify;">Wyznaczając sobie nowe cele rozwijam własne umiejętności w oparciu o perfekcjonizm, zaangażowanie i sumienność.</p>
            <p style="text-align: justify;">Niezwykle ważne jest dla mnie stworzenie miłej, przyjaznej i bezstresowej atmosfery - w taki sposób, aby wspomnienie wizyty w gabinecie wywoływało to, co dla lekarza stomatologa najważniejsze, czyli uśmiech na twarzy Pacjenta.</p>
            <p style="text-align: justify;">Wolny czas dzielę pomiędzy ciągłym podnoszeniem swoich kwalifikacji zawodowych a zainteresowaniem fotografią i muzyką.</p>
        </p>
        <div class="gallery cf">
            <div>
                <img src="{{url_for('static', filename='img/as1.jpg')}}" />
            </div>
            <div>
                <img src="{{url_for('static', filename='img/as2.jpg')}}" />
            </div>
            <div>
                <img src="{{url_for('static', filename='img/as3.jpg')}}" />
            </div>
            <div>
                <img src="{{url_for('static', filename='img/as4.jpg')}}" />
            </div>
            <div>
                <img src="{{url_for('static', filename='img/as5.jpg')}}" />
            </div>
            <div>
                <img src="{{url_for('static', filename='img/as5a.jpg')}}" />
            </div>
            <div>
                <img src="{{url_for('static', filename='img/as6.jpg')}}" />
            </div>
            <div>
                <img src="{{url_for('static', filename='img/as7.jpg')}}" />
            </div>
            <div>
                <img src="{{url_for('static', filename='img/as8.jpg')}}" />
            </div>
            <div>
                <img src="{{url_for('static', filename='img/as9.jpg')}}" />
            </div>
            <div>
                <img src="{{url_for('static', filename='img/as10.jpg')}}" />
            </div>
            <div>
                <img src="{{url_for('static', filename='img/as11.jpg')}}" />
            </div>
            <div>
                <img src="{{url_for('static', filename='img/as12.jpg')}}" />
            </div>
            <div>
                <img src="{{url_for('static', filename='img/as13.jpg')}}" />
            </div>
            <div>
                <img src="{{url_for('static', filename='img/as14.jpg')}}" />
            </div>
            <div>
                <img src="{{url_for('static', filename='img/as15.jpg')}}" />
            </div>
            <div>
                <img src="{{url_for('static', filename='img/as16.jpg')}}" />
            </div>
            <div>
                <img src="{{url_for('static', filename='img/as17.jpg')}}" />
            </div>
            <div>
                <img src="{{url_for('static', filename='img/as18.jpg')}}" />
            </div>
            <div>
                <img src="{{url_for('static', filename='img/as19.jpg')}}" />
            </div>
            <div>
                <img src="{{url_for('static', filename='img/as20.jpg')}}" />
            </div>
            <div>
                <img src="{{url_for('static', filename='img/as22.jpg')}}" />
            </div>
            <div>
                <img src="{{url_for('static', filename='img/as23.jpg')}}" />
            </div>
            <div>
                <img src="{{url_for('static', filename='img/as24.jpg')}}" />
            </div>
        </div>
    </div>
    <!--contact-->
    <div class="w3-container w3-padding-32" id="contact">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Kontakt</h3>
            <p><em>lek. stom. Anna Suchodolska<em></p>
            <p><span class="glyphicon glyphicon-map-marker"></span>Warszawa, Polska</p>
            <p><span class="glyphicon glyphicon-phone"></span>Telefon: +48 502-516-388</p>
            <p><span class="glyphicon glyphicon-envelope"></span>E-mail: suchodolskastomatolog@gmail.com</p>
    </div>
</div>
{% endblock %}